<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hanriver.dao.ParkDao">
	<resultMap type="Park" id="ParkMap">
		<id column="pno" property="no"/>
		<result column="name" property="name"/>
		<result column="loc" property="location"/>
	</resultMap>
	
	<select id="selectList" resultMap="ParkMap" parameterType="map">
	select pno, name, loc from han_park
	</select>
	
	<select id="selectOne" resultMap="ParkMap" parameterType="string">
	select pno, name, loc from han_park where name=#{value}
	</select>
	
	<select id="countAll" resultType="int">
    select count(*) from han_park
  	</select>
  


	<insert id="insert" parameterType="Park">
	insert into han_park(name,loc) values(#{name},#{location})
	</insert>
	
	<update id="update" parameterType="Park">
	update han_park set loc=#{location} where name=#{name}
	</update>
	
	<delete id="delete" parameterType="string">
	delete from han_park where name=#{value}
	</delete>




</mapper>